* {
 margin: 0;
 padding: 0;
}

.plan {
 width: 100vw;
 height: 100vh;
 display: flex;
 perspective: 1000px;
 background-color: #4caf5042;
}

.tree {
 width: 100px;
 height: 200px;
 position: relative;
 margin: auto;

 transform-style: preserve-3d;
 display: flex;
 align-items: center;
 justify-content: center;
}

.leaf {
 --deg: 0deg;
 width: 100px;
 height: 200px;
 background-image: linear-gradient(60deg, lightgreen, green);
 transform-style: preserve-3d;

 position: absolute;
 transform-origin: left;
 transform: translateX(50%) rotateY(var(--deg));
}