* {
 margin: 0;
 padding: 0;
 font-family: "Playfair Display", serif;
}

.plan {
 width: 100vw;
 height: 100vh;
 display: flex;
 perspective: 1000px;
 background-color: #4caf5042;
}

.tree {
 width: 100px;
 height: 200px;
 position: relative;
 margin: auto;

 transform-style: preserve-3d;
 display: flex;
 align-items: center;
 justify-content: center;
}

.leaf {
 --deg: 0deg;
 width: 100px;
 height: 200px;
 background-image: linear-gradient(60deg, lightseagreen, green);
 transform-style: preserve-3d;

 position: absolute;
 transform-origin: left;
 transform: translateX(50%) rotateY(var(--deg));
}

.trunk {
 width: 10px;
 height: 100px;
 background-image: linear-gradient(45deg, brown, chocolate);
 transform-style: preserve-3d;
 position: absolute;
 transform-origin: left;
 top: 150px;
 transform: translateX(50%) rotateY(var(--deg));
}

.shadow {
 width: 150px;
 height: 150px;
 position: absolute;
 background-color: #0324049a;
 background-image: radial-gradient(#03240431 , #03240400);
 transform-origin: center;
 top: 90%;
 transform: rotateX(90deg);
 border-radius: 100%;
 box-shadow: 0px 0px 10px 50px #03240400;
 filter: blur(15px);
}

.star {
 width: 50px;
 height: 50px;
 background-image: linear-gradient(60deg, goldenrod, yellow);
 position: absolute;
 background-color: yellow;
 top: -40px;
 transform: rotateY(var(--deg));
}

.decoration {
 --top: -5px;
 --width: 50px;
 --height: 50px;

 width: var(--width);
 height: var(--height);
 background-color: transparent;
 box-shadow: 0px 0px 0px 2px yellow;
 position: absolute;
 transform: rotateX(90deg);
 border-radius: 100%;
 top: var(--top);
}

.decoration::after,
.decoration::before {
 display: block;
 content: "";

 width: 20px;
 height: 20px;
 background-color: red;
}