li{
    list-style: none;
}
a{
    text-decoration: none;
}

/* 메인 박스 */
#container_main{
    display: flex;
    flex-direction: column;
    background: white;
    width: 300px;
    height: 400px;
    margin-bottom: 10px;
    margin: 10px auto;
}
